.wrapper{
	width: 1200px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	margin:0 auto;
	position: relative;

}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-navigation {
	position: relative;
	width: 1200px;
	min-height: 56px;
	line-height: 26px;
	display: flex;
}

.main-header-logo{
	position: absolute;
	top:0;
	left:530px;
	width:140px;
	height:72px;
}

.main-header{
	width:1200px;
	margin: 0 auto;
}

.site-navigation{
	width: 1200px;
	margin:0;
	padding:0;
	list-style: none;
	display: flex;
}

.site-navigation a{
	display: block;
	padding: 0;
	padding: 16px 73px;
	vertical-align: middle;
	color:#000000;
}

.site-navigation a:hover,
.site-navigation a:focus,{
	color:#81b3d2;
}

.site-navigation a:active{
	opacity: 0.3;
}

.site-navigation-current a{
	color:#766357;
}

.background-index{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width:1200px;
	min-height: 700px;
	margin:0;
	padding:0;
	text-align: center;
	background-color: #ffffff;
	background-image: 
		url("../img/polygon.svg"),
		url("../img/background.jpg");
	background-position: 0px 452px, 0 0;
	background-repeat: no-repeat;
}

.background-index h1{
	align-self:center;
	width:640px;
	min-height: 45px;
	padding: 0 100px;
	box-sizing:border-box;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.reason-description{
	align-self:center;
	background-color: #ffffff;
	line-height: 26px;
	font-weight: normal;
	text-align: center;
}

.reasons-list{
	margin:0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.reason-item {
	margin: 0;
	padding: 0;
}

.reason-item:nth-child(even) .reason-column{
	flex-direction: row-reverse;
}

.reason-title{
	font-size: 21px;
	line-height: 21px;
}

.reason-number,
.reason-text{
	font-weight: normal;
	text-align: center;
}

.reason-column{
	display: flex;
	justify-content: center;

}

.reason-column-description{
	width:400px;
	min-height:256px;
	margin:0;
	padding:45px 60px 65px;
	box-sizing: border-box;
	background-color: #81b3d2;
	color:#ffffff;
}

.reasons-picture{
	width:800px;
	min-height:256px;
}

.features{
	background-color: #ffffff;
	color:#000000;
	text-align: center;
}
.features-list{
	margin:0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-weight: normal;
}

.feature-item{
	position: relative;
	padding: 160px 73px 85px;
	box-sizing: border-box;
	margin:0;
	width:400px;
	min-height:330px;
}

.feature-item h3{
	margin: 0;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}

.lodging:before,
.food::before,
.souvenirs::before{
	content: "";

	position: absolute;
	top: 55px;
	left: 160px;
	width: 85px;
	height: 90px;
	
	background-repeat: no-repeat;
	background-position:0 0;
}
.lodging::before{
	background-image:url("../img/icon-1.svg");
}
.food::before{
	background-image:url("../img/icon-3.svg");
}
.souvenirs::before{
	background-image:url("../img/icon-2.svg");
}

.reasons-list-gray{
	margin: 0;
	padding: 0;
	min-height: 260px;
	display: flex;
	justify-content: space-between;
	background-color: #eeeeee;
	list-style: none;
}

.reason-item-gray{
	margin: 0;
	padding:60px 70px;
	padding-top: 50px;
	align-self: center;
}

.search-column{
	width: 576px;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.search-title{
	font-size:30px;
	line-height: 36px;
	text-align:center;
}

.search-description{
	font-weight: normal;
	text-align:center;
}

.filters{
	padding:0 70px;
	margin: 0;
	min-height: 218px;
	color:#ffffff;
	background-image: url("../img/filter-bg.jpg");
	background-color:gray;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.filters-column{
	padding:0;
	margin: 0;
	margin-bottom: 30px;
	display: flex;
	padding-top: 30px;

}
.filters fieldset {
	width:200px;
	border:none;

}
.filters fieldset:{
	width:330px;
	margin-left: auto;
	padding: 0;

}

.filters legend{
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-size: 16px;
}

.filter-list{
	margin:0;
	padding: 0;
	list-style: none;
}

.filter-option{
	margin-bottom:30px;
	padding-left: 40px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	top:0;
	left:-44px;
	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-range{
	width:330px;
}

.filter-range-list {
	position: relative;

	height: 36px;
	margin-bottom: 20px;
	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.filter-range-list::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);

}

.filter-range-list label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.filter-range-list .range-to,
.filter-range-list .range-from {
	width: 90px;
	padding-left: 65px;
}

.filter-range-list input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;

}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}

.sorting{
	padding: 30px 70px;
	box-sizing: border-box;
	min-height:90px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.sorting-title{
	margin: 0;
	padding: 0;
	margin-right: 50px;
	font-size:21px;
	line-height: 26px;
}

.sorting-text{
	margin: 0;
	padding: 0;
	margin-right: 37px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.sorting-list{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorting-list:last-child{
	margin-left: auto;
}

.sorting-item{
	margin: 0;
	padding: 0;
	margin-right: 30px;
	font-size: 12px;
	line-height: 18px;
}

.sorting-link-active{
	color:#81b3d2;
}

.sorting-link {
	color:#d4d4d4;
	border-bottom: 1px dashed #81b3d2;
}

.sorting-list .triangle{
	margin: 0;
	padding: 0;
	width: 37px;
	min-height: 20px;
}

.sorting-item .triangle{
	padding: 0;
	margin: 0;
	width: 11px;
	height: 10px;
}

.sorting-icon a{
	color:#cacaca;
}

.sorting-icon-active a{
	color:#81b3d2;
}

.hotel{
	min-height: 455px;
	padding: 30px 70px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.hotel-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	list-style: none;
}

.hotel-item{
	min-height: 150px;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}
.hotel-item img{
	margin-right: 30px; 
}
.hotel-column{
	padding: 0;
	margin: 0;
	width: 261px;
	min-height: 94px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.hotel-column h3{
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	font-size:21px;
	line-height:26px;
	color:#000000;
}

.title-prise-column{
	display: flex;
}

.hotel-title,
.hotel-prise{
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-bottom: 15px; 
}

.hotel-title{
	margin-right: 40px;
}

.hotel-rate{
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	width:240px;
	min-height: 151px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto;
}

.button-column{
	display: flex;
	justify-content: space-between;
}

.button-column .button-hotel{
	padding: 5px 15px;
	font-size: 14px;
	line-height: 21px;
}

.hotel-rate-text{
	margin: 0;
	padding: 5px 14px;
	font-weight: normal;
	text-align:center;
	vertical-align: middle;
	color:#666666;
	background-color: #f2f2f2;
}

.hotel-stars{
	font-size: 0;
	margin-top: 30px;
	margin-bottom: 47px; 
	width: 130px;
	min-height: 20px;
	background-image: 
	url('../img/star.svg'),
	url('../img/star.svg'),
	url('../img/star.svg'),
	url('../img/star.svg'),
	url('../img/star.svg');
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 0 0, 25px 0, 50px 0, 75px 0, 100px 0;
}

.hotel-star-1{
	width:25px;
}

.button {
	font-size: 21px;
	line-height: 26px;
	width: 100%;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.button:focus,
.button:hover{
	background-color: #604e43;
}

.button:active{
	background-color: #503e33;
}

.modal-search{
	position: relative;

	width:576px;
	margin: 0;
	padding: 0;

	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.button-search{
	width:576px;
	height: 86px;
}

.search-form{
	position: absolute;
	top:86px;
	left: 0;

	width:576px;
	min-height: 395px;
	padding: 57px;
	box-sizing: border-box;
	background-color: #ffffff;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.search-form-line{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0;
	padding: 0;
}

.half-width{
	display: block;
	position: relative;
	margin:0;
	padding: 0;
	margin-left: 28px;

}

.search-form-fieled{
	display: block;
	position: relative;
	margin: 0;
	padding: 0;

}

.search-form-fieled input[type="text"],
.half-width input[type="text"]{
	border: 2px solid transparent;
	box-sizing: border-box;
	width: 346px;
	padding: 7px 10px;
	padding-right: 35px;
	line-height: 26px;
	font:inherit;
	background-color: #f2f2f2;
	text-transform: uppercase;
}

.half-width input[type="text"]{
	font:inherit;
	margin:0;
	width: 113px;

	text-align: center;
}

.search-form-fieled input:hover,
.half-width input:hover{
	background-color: #ebebeb;
}

.search-form-fieled input:focus,
.half-width input:focus{
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.calendar{
	position: absolute;
	padding: 0;
	margin: 0;
	top:5px;
	right:13px;
	width:21px;
	height: 22px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.calendar svg{
	display: block;
	fill:#a9a9a9;
}

.calendar:hover svg{
	fill:red;
}

.btn-minus,
.btn-plus{
	position: absolute;
	width: 38px;
	height: 38px;

	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.btn-minus{
	top:-5px;
	left:30px;
}

.btn-plus{
	top:-5px;
	right:0;
}

.btn-minus::before{
	content: "";

	position: absolute;
	top:18px;
	left:12px;

	width: 12px;
	height: 3px;

	background-color: #282828;
}

.btn-plus::before,
.btn-plus::after{
	content: "";

	position: absolute;
	top:18px;
	left:12px;

	width: 12px;
	height: 3px;

	background-color: #282828;
}

.btn-plus::after {
	transform: rotate(-90deg);
}


.button .buttom-blue{
	margin: 0;
	padding: 0;
	width:100%;
}

.button-blue,
.social-button{
	background-color: #81b3d2;
}

.button-blue:hover,
.social-button:hover{
	background-color: #669ec0;
}

.button-blue:active,
.social-button:action{
	color: #88b6d1;
	background-color: #5496bd;
}

.map-canvas{
	width:1200px;
	height:594px;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-footer{
	margin: 0 auto;
	padding: 35px 0;
	padding-left: 130px;
	padding-right: 120px;
	width:1200px;
	min-height:120px;
	box-sizing: border-box;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
}

.footer-contacts{
	display: flex;
	align-items: center;
	margin:0;
	padding: 0;
}

.footer-contacts a{
	width: 129px;
	padding: 0;
	margin: 0;
	font-size:21px;
	line-height: 26px;
	color:#000000;
}

.footer-social{
	width:150px;
	min-height: 50px;
	margin:0;
	padding: 0;
}

.footer-social ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.footer-copyright{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:200px;
	margin:0;
}

.footer-copyright b{
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 26px;
	font-weight: normal;

}

.footer-copyright a{
	width:115px;
	height:41px;

}
.footer-copyright a:hover,
.footer-copyright a:focus{
	color:#81b3d2;
}
.footer-copyright a:active{
	color:#bdbbbc;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}
.social-button:hover,
.social-button:focus,{
	background-color: #669ec0;
}

.social-button:active {
	color:#88b6d1;
	background-color: #5496bd;
}

