.wrapper {
	width: 1200px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	margin:0 auto;
	position: relative;

}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	font-size: 21px;
	line-height: 26px;
	width: 100%;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.button:focus,
.button:hover {
	background-color: #604e43;
}

.button:active {
	background-color: #503e33;
}

.main-navigation {
	position: relative;
	min-height: 56px;
	line-height: 26px;
	display: flex;

	background-color: #ffffff;
}

.main-header-logo {
	position: absolute;
	top:0;
	left:530px;
	width:140px;
	height:72px;
}

.main-header {
	width:1200px;
	margin: 0 auto;
}

.site-navigation {
	width: 100%;
	padding: 0 70px;
	margin:0;
	list-style: none;
	display: flex;
}

.site-navigation li {
	flex-grow: 1;
	padding: 14px 0;
	/*margin-right: 150px;*/
}

.site-navigation li:nth-child(2) {
	text-align: left;
	padding-right: 90px; 
	/*margin-right: 165px;*/
}

.site-navigation li:nth-child(3) {
	text-align: right;
	padding-right: 14px;
	/*margin-right: 165px;*/
}

.site-navigation li:last-child {
	text-align: right;
	margin-right: 0;
}

.site-navigation a {
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	color:#000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color:#81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
	color:#766357;
}

.background-index {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width:1200px;
	min-height: 724px;
	margin:0;
	padding-bottom: 55px;
	padding:0;
	text-align: center;
	background-color: #ffffff;
	background-image: 
		url("../img/intro-mask.svg"),
		url("../img/background.jpg");
	background-position: 0px 453px, 0 0;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.background-index h1 {
	display: block;
	align-self:center;
	margin: 0;
	padding:0;
	margin-bottom: 27px;
	width:445px;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	text-align: center;

}

.reason-description {
	margin: 0;
	padding: 0;
	margin-bottom: 51px;
	display: block;
	align-self:center;
	background-color: #ffffff;
	line-height: 26px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}

.reasons-list {
	margin:0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.reason-item {
	margin: 0;
	padding: 0;
}

.reason-item:nth-child(even) .reason-column {
	flex-direction: row-reverse;
}

.reason-column-description {
	width:400px;
	margin:0;
	padding-top:47px; 
	padding-bottom:38px;
	padding-right:60px;
	padding-left: 60px;
	box-sizing: border-box;
	background-color: #81b3d2;
	color:#ffffff;
}


.reason-title {
	display: block;
	margin: 0;
	margin-bottom: 24px;
	padding: 0;
	width: 151px;
	text-align: center;
	padding-left: 65px;
	align-items: center;
	font-size: 21px;
	line-height: 21px;
}

.reason-number,
.reason-text {
	margin: 0;
	margin-bottom: 21px; 
	padding: 0;
	font-weight: normal;
	text-align: center;
}

.reason-text {
	display: block;
	margin-bottom: 0;
	padding:0;
	text-align: center;
}

.reason-column {
	display: flex;
	justify-content: center;
}

.reasons-picture {
	width:800px;
	min-height:256px;
}

.features {
	background-color: #ffffff;
	color:#000000;
	text-align: center;
}

.features-list {
	margin:0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-weight: normal;
}

.feature-item {
	position: relative;
	box-sizing: border-box;
	margin:0;
	width:400px;
	min-height:330px;
	padding: 160px 50px;
	padding-bottom: 0;
}

.feature-item p {
	margin: 0;
	padding: 0;
}

.feature-title {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom:25px;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}

.feature-title p {
	display: block;
	margin: 0;
	padding: 0;
	min-width: 290px;
}

.lodging:before,
.food::before,
.souvenirs::before {
	content: "";

	position: absolute;
	top: 60px;
	left: 162px;
	width: 85px;
	height: 90px;
	
	background-repeat: no-repeat;
	background-position:0 0;
}

.lodging::before {
	top: 60px;
	left: 162px;
	background-image:url("../img/icon-1.svg");
}

.food::before {
	top: 61px;
	left: 163px;
	background-image:url("../img/icon-3.svg");
}

.souvenirs::before {
	top: 56px;
	left: 168px;
	background-image:url("../img/icon-2.svg");
}

.reasons-list-gray {
	margin: 0;
	padding-left: 65px;
	padding-top: 48px;
	padding-right: 65px;
	padding-bottom: 30px;
	box-sizing: border-box;
	min-height: 260px;
	display: flex;
	justify-content: space-between;
	background-color: #eeeeee;
	list-style: none;
}

.reason-item-gray {
	margin: 0;
}

.reason-title-gray {
	margin: 0 auto;
	margin-bottom: 25px; 
	padding: 0;
	width:110px;
}

.reason-number-gray {
	padding: 0;
	margin: 0;
	margin-bottom:20px;
	font-weight: normal;
}

.reason-text-gray {
	padding: 0;
	margin: 0;
	width:268px;
	font-weight: normal;
}


.search-column {
	width: 576px;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.search-title {
	margin: 0;
	padding: 0;
	margin-top: 46px;
	margin-bottom: 30px;
	font-size:30px;
	line-height: 36px;
	text-align:center;
}

.search-description {
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0;
	font-weight: normal;
	text-align:center;
}

.filters {
	padding:0 70px;
	margin: 0;
	margin-bottom: 30px;
	color:#ffffff;
	background-image: url("../img/filter-bg.jpg");
	background-color:gray;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.filters-form {
	padding: 27px 0;
	padding-bottom: 30px;
}

.filters-column {
	padding:0;
	margin: 0;
	display: flex;
}

.filters-fieldset {
	min-width:240px;
	margin: 0;
	padding: 0;
	border:none;
}

.filters legend {
	margin: 0;
	padding: 0;
	margin-bottom: 22px;
	font-size: 16px;
}

.hotel-type {
	margin-left: 15px;
}

.hotel-range {
	margin-left: auto;
}

.hotel-range legend {
	margin-bottom: 9px;
}

.filter-list {
	margin:0;
	padding: 0;
	list-style: none;
}

.filter-option {
	margin-bottom:26px;
	padding-left: 42px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	top:0;
	left:-40px;
	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-range {
	width:320px;
}

.filter-range-list {
	position: relative;

	height: 36px;
	margin-bottom: 20px;
	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.filter-range-list::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);

}

.filter-range-list label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.filter-range-list .range-to,
.filter-range-list .range-from {
	width: 90px;
	padding-left: 65px;
}

.filter-range-list input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;

}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}

.sorting {
	margin: 0;
	margin-bottom: 30px;
	padding: 0px 70px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.sorting-title {
	margin: 0;
	padding: 0;
	margin-right: 50px;
	font-size:21px;
	line-height: 26px;
}

.sorting-text {
	margin: 0;
	padding: 0;
	margin-right: 40px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.sorting-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorting-list:last-child {
	margin-left: auto;
}

.sorting-item {
	margin: 0;
	padding: 0;
	margin-right: 35px;
	font-size: 12px;
	line-height: 18px;
}

.sorting-link-active {
	color:#81b3d2;
}

.sorting-link {
	color:rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #81b3d2;
}

.sorting-link:hover,
.sorting-link:focus {
	color:#81b3d2;
}

.sorting-link:active {
	color:#000000;
}

.sorting-list .triangle {
	margin: 0;
	padding: 0;
	margin-left: 12px;
}

.sorting-item .triangle {
	padding: 0;
	margin: 0;
	width: 11px;
	height: 10px;
}

.sorting-icon svg {
	fill:#cacaca;
}

.sorting-icon svg:hover,
.sorting-icon svg:focus {
	fill:#231f20;
}

.sorting-icon svg:active {
	fill:#81b3d2;
}

.sorting-icon-active svg {
	fill:#81b3d2;
}

.hotel {
	min-height: 455px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.hotel-name {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	font-size:21px;
	line-height:26px;
	color:#000000;
}

.hotel-name a {
	color:#000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
	color: #81b3d2;
}

.hotel-name a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	list-style: none;
}

.hotel-item {
	min-height: 150px;
	box-sizing: border-box;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
	padding: 25px 70px;
	display: flex;
	align-items: center;
}

.hotel-item img {
	margin-right: 32px; 
}

.hotel-column {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.title-prise-column {
	display: flex;
	justify-content: space-between; 
	margin-bottom:12px;
}

.hotel-title,
.hotel-prise {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.hotel-title {
	width:110px;
}

.hotel-prise {
	width:142px;
}

.hotel-rate {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto;
}

.button-column {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.button-hotel {
	padding: 5px 15px;
	font-size: 14px;
	line-height: 21px;
	margin-left:10px;
}

.button-hotel:first-child {
	margin-left: 0;
}

.hotel-rate-text {
	margin: 0;
	padding: 5px 14px;
	font-weight: normal;
	text-align:center;
	vertical-align: middle;
	color:#666666;
	background-color: #f2f2f2;
}

.hotel-stars {
	font-size: 0;
	margin-bottom: 40px; 
	width: 130px;
	min-height: 20px;
	background-image: 
	url('../img/star.svg'),
	url('../img/star.svg'),
	url('../img/star.svg'),
	url('../img/star.svg'),
	url('../img/star.svg');
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 0 0, 25px 0, 50px 0, 75px 0, 100px 0;
}

.hotel-star-1 {
	width:23px;
}

.hotel-star-2 {
	width:46px;
}

.hotel-star-3 {
	width:69px;
}

.hotel-star-4 {
	width:92px;
}

.hotel-star-5 {
	width: 115px;
}

.modal-search {
	position: relative;

	width:576px;
	margin: 0;
	padding: 0;

	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-search {
	font-weight: bold;
	width:563px;
	min-height: 86px;
}

.search-form {
	position: absolute;
	top:86px;
	left: 0;

	width:576px;
	min-height: 395px;
	padding-right: 55px;
	padding-left: 60px;
	padding-top: 38px;
	box-sizing:border-box;
	background-color: #ffffff;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.search-form-line:nth-child(4) label {
	margin-left: 50px;
}

.search-form-line {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.half-width {
	display: block;
	position: relative;
	margin:0;
	padding: 0;
}

.search-form-fieled {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;

}

.search-form-fieled input[type="text"],
.half-width input[type="text"] {
	border: 2px solid transparent;
	box-sizing: border-box;
	width: 346px;
	padding: 7px 10px;
	padding-right: 35px;
	line-height: 26px;
	font:inherit;
	background-color: #f2f2f2;
	text-transform: uppercase;
}

.half-width input[type="text"] {
	font:inherit;
	margin:0;
	width: 113px;
	padding-left: 30px;
	text-align: center;
}

.search-form-fieled input:hover,
.half-width input:hover {
	background-color: #ebebeb;
}

.search-form-fieled input:focus,
.half-width input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.calendar {
	position: absolute;
	padding: 0;
	margin: 0;
	top:5px;
	right:13px;
	width:21px;
	height: 22px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.calendar svg {
	display: block;
	fill:#a9a9a9;
}

.calendar:hover svg {
	fill:#000000;
}

.calendar:active svg {
	fill:#81b3d2;
}

.half-line {
	width: 50%;
	margin-bottom: 45px;
}

.btn-minus,
.btn-plus {
	position: absolute;
	top:0;
	width: 38px;
	height: 38px;

	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.btn-minus {
	left:0;
}

.btn-plus {
	right:0;
}

.btn-minus::before {
	content: "";

	position: absolute;
	top:18px;
	left:12px;

	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
}

.btn-plus::before,
.btn-plus::after {
	content: "";

	position: absolute;
	top:18px;
	left:12px;

	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
}

.btn-plus::after {
	transform: rotate(90deg);
}

.btn-minus:hover::before,
.btn-plus:hover::after,
.btn-plus:hover::before {
	background-color: #000000;
}

.btn-minus:active::before,
.btn-plus:active::after,
.btn-plus:active::before {
	background-color: #81b3d2;
}

.button-blue,
.social-button {
	background-color: #81b3d2;
}

.button-blue:hover,
.social-button:hover {
	background-color: #669ec0;
}

.button-blue:active,
.social-button:action {
	color: #88b6d1;
	background-color: #5496bd;
}

.search-form .button-blue {
	padding: 0;
	margin: 0;
	margin-bottom: 58px;
}

.map-canvas {
	width:1200px;
	min-height:475px;
	background-image: url(../img/map-small.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-footer {
	margin: 0 auto;
	padding: 32px 0;
	padding-left: 130px;
	padding-right: 120px;
	width:1200px;
	min-height:120px;
	box-sizing: border-box;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
}

.footer-contacts {
	display: flex;
	align-items: center;
	margin:0;
	margin-right: 40px;
	padding: 0;
}

.footer-contacts a {
	width: 129px;
	padding: 0;
	margin: 0;
	font-size:21px;
	line-height: 26px;
	color:#000000;
}

.footer-social {
	width:150px;
	min-height: 50px;
	margin:0;
	padding: 0;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:200px;
	margin:0;
	margin-right: -20px;
}

.footer-copyright b {
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 26px;
	font-weight: normal;

}

.footer-copyright a {
	width:115px;
	height:41px;

}

.logo-htmlacademy-small svg {
	fill:#231f20;
}

.logo-htmlacademy-small:hover svg,
.logo-htmlacademy-small:focus svg {
	fill:#81b3d2;
}

.logo-htmlacademy-small:active svg {
	fill:#bdbbbc;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	color:#88b6d1;
	background-color: #5496bd;
}

