body {
		margin: 0;
		padding: 0;

		font-family: "PT Sans", Arial, sans-serif;
		font-size: 14px;
		line-height: 21px;
		font-weight: bold;
		color: #000000;
		text-transform: uppercase;

		background-color: #ffffff;
}
a {
		text-decoration: none;
}
.main-navigation {
		line-height: 26px;

}
.site-navigation{
 		list-style: none;
}
.site-navigation a{
		color:#000000;
}
.site-navigation a:hover{
		color:#9ac2db;
}
.site-navigation a:active{
		color: #b7b7b7;
}
.site-navigation-current a{
		color:#766357;
}
.background-index{
		width:1200px;
				height: 800px;
		background-image: url("../img/welcome.jpg");
		background-position: 0 0;
		background-repeat: no-repeat;
}
.background-inner{
		width:1200px;
		background-image: url("../img/filter-bg.jpg");
		background-color:#ffffff;
		background-position: 0 0;
		background-repeat: no-repeat;
}
/*.visually-hidden{
		font-size: 0;*/
}
h1 {
		font-size: 21px;
		line-height: 26px;
		text-align: center;
}
.reason-description{
		line-height: 26px;
		font-weight: normal;
		text-align: center;
}
.reasons-list{
		list-style: none;
		text-align: center;
}
.blye {
		background-color: #81b3d2;
		color:#ffffff;
}
.reason-title{
		font-size: 21px;
		line-height: 21px;
}
.reason-number,
.reason-text{
		font-weight: normal;
}
.features{
		background-color: #ffffff;
		color:#000000;
		text-align: center;
}
.features-list{
		list-style: none;
		font-weight: normal;
}
.features-title{
		font-weight: bold;
		font-size: 21px;
		line-height: 21px;
}
.gray{
		background-color: #eeeeee;
}
.search-title{
		font-size:30px;
		line-height: 36px;
		text-align: center;
}
.search-description{
		font-weight: normal;
		text-align:center;
}
.filters{
		color:#ffffff;
}
fieldset {
		border:none;
}
legend{
		font-size: 16px;
}
.filter-list{
		list-style: none;
}
.button-filter {
		background-color: transparent;
		border: 5px solid #ffffff;
		font-weight: normal;
}
.button-filter:hover,
.button-filter:focus{
		background-color: #ffffff;
		color: #000000;
}
.sorting-title{
		font-size:21px;
		line-height: 26px;
}
.sorting-text{
		font-size: 12px;
		line-height: 18px;
		font-weight: normal;
}
.sorting-list{
		list-style: none;
}
.sorting-item{
		font-size: 12px;
		line-height: 18px;
}
.sorting-link-active{
		color:#81b3d2;
}
.sorting-link{
		color:#d4d4d4;
		border-bottom: 1px dashed #81b3d2;
}
.sorting-icon{
		color:#cacaca;
}
.sorting-icon-active{
		color:#81b3d2;
}
.hotel-list{
		list-style: none;
}
.hotel-name a{
		font-size:21px;
		line-height:26px;
		color:#000000;
}
.hotel-title,
.hotel-prise{
		font-weight: normal;
}
.hotel-rate-text{
		width:108px;
		font-weight: normal;
		text-align:center;
		color:#666666;
		background-color: #f2f2f2;
}
.button {
  font-size: 21px;
  line-height: 26px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}
.button:focus,
.button:hover{
		background-color: #604e43;
}
.button:active{
		background-color: #503e33;
}
.search-form-fieled label{
		line-height: 26px;

}
.search-form-fieled input,
.half-width input{
		background-color: #f2f2f2;
		line-height: 26px;
}
.search-form-fieled input:hover,
.half-width input:hover{
		background-color: #ebebeb;
}
.search-form-fieled input:focus,
.half-width input:focus{
		background-color: #ffffff;
		border: 2px solid #e5e5e5;
		outline: none;
}
.button-blue,
.social-button{
		background-color: #81b3d2;
}
.button-blue:hover,
.social-button:hover{
		background-color: #669ec0;
}
.button-blue:active,
.social-button:action{
		color: #88b6d1;
		background-color: #5496bd;
}
.map-canvas{
		width:1200px;
		height:594px;
		background-image: url(../img/map.jpg);
		background-repeat: no-repeat;
		background-position: 0 0;
}
.footer-social ul{
		list-style: none;
}
.footer-contacts a{
		font-size:21px;
		line-height: 26px;
		color:#000000;
}
.footer-copyright b{
		line-height: 26px;
		font-weight: normal;
}